* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #8d2542;
    font-family: "Poppins", sans-serif;
    color:white;
}
p{
    font-family:"poppins",sans-serif;
text-align: center;
font-family: "Cormorant Garamond", serif;
color:#EADDCB;
}
h2{
    font-family:"Poppins",sans-serif ;
    text-align: center;
    margin-bottom:10px ;
    margin-top: 10px;
    color: #FFF8E7;
}

h1{
    font-family:"Cinzel",serif;
    text-align: center;
}
.heading-decoration{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.line{
    width:150px;
  background-color:rgb(238, 206, 27) ;
    height:3px;
    margin-left: 20px;
    margin-right: 20px;
}
.ornament{
    color:#ffe346;
   
}
.categories{
    display: grid;
    grid-template-columns: repeat(3,230px);
    justify-content: center;
    gap:50px;
    align-items: center;
}
.category-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 230px;
    height: 230px;
    border-radius: 20px;
    border:3px solid gold ;
    background-color: white ;
    gap:30px;
    color:black;
    margin-right: 10px;
    cursor: pointer;
     transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.category-card:hover{
    background: #D4AF37;
    color: #4A1625;
}
.category-card.active{
    transform: translateY(-15px);
    box-shadow: 0 15px 30px rgba(212, 175, 55, 0.5);
}
.category-card  h3{
    margin-top: 15px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    font-family: Arial,sans-serif;
    text-align:center ;

}
.icon{
    font-size: 4.5rem;
}
.stats{
    display: flex;
    flex-direction: row;
    gap:20px;
}
.stat-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100px;
    width:150px;
    border-radius: 20px;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-bottom: 10px;
    margin-left: 10px;
    border: 3px solid gold;
}
.icon2{
    font-size: 1.5rem;
}
.top-right{
    position: absolute;
    top: 20px;
    right: 20px;
    margin-right: 0;
    width: 350px;
    border-radius: 30px;
    
    filter: grayscale(100%);

}
.bottom-left{
    position: absolute;
    bottom: 70px;
    left: 20px;
    width: 350px;
    filter: grayscale(100%);
    border-radius: 30px;
    
}
footer{
    border-radius: 10px;
    border: 1px gold;
    text-align: center;
    padding: 30px;
    color: #EADDCB;
    font-family: "Cormorant Garamond", serif;
}
